annotated-types
beautifulsoup4
blis
catalogue
certifi
chardet
charset-normalizer
click
cloudpathlib
confection
cymem
edtf
googletrans
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
isodate
Jinja2
langcodes
langid
MarkupSafe
murmurhash
numpy
packaging
pandas
preshed
pydantic
pydantic_core
pyparsing
python-dateutil
PyYAML
rdflib
requests
rfc3986
six
smart-open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SPARQLWrapper
srsly
thinc
toml
tqdm
typer
typing_extensions
tzdata
urllib3
wasabi
weasel
